{{> header}}
<div class="container">
  <h1>User Profile</h1>
  <div>
    <h3>Name: {{user.name}}</h3>
    <p>Email: {{user.email}}</p>
    <!-- Add more user details here -->
  </div>
</div>

{{> footer}}